<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/Edit Subject</title>
    <link rel="stylesheet" th:href="@{/css/scores.css}">
</head>
<body>
    <th:block th:replace="~{/fragments/navbar :: nav}"></th:block>
    <div class="main-container">
        <th:block th:replace="~{/fragments/sidebar :: div}"></th:block>
        <div class="content">
            <h1 th:text="${subject.id} == null ? 'Add Subject' : 'Edit Subject'"></h1>
            <form th:action="@{${subject.id} == null ? '/subjects/add' : '/subjects/edit/' + ${subject.id}}" th:object="${subject}" method="post">
                <div>
                    <label>Code:</label>
                    <input type="text" th:field="*{code}" />
                </div>
                <div>
                    <label>Name:</label>
                    <input type="text" th:field="*{name}" />
                </div>
                <div>
                    <label>Credits:</label>
                    <input type="number" th:field="*{credits}" />
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
